:root {
	--font-family: 'Fira Sans Condensed', sans-serif;
	--second-family: 'Oswald', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}
button {
	min-height: 34px;
	font-family: var(--font-family);
	font-size: 18px;
	font-weight: 700;
	color: inherit;
	background-color: transparent;
	border: 1px solid #fff;
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}
.page {
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: 1200px;
	block-size: 100%;
	margin: auto;
	background-color: #1b1919;
	color: #fff;
	font-family: var(--font-family);
	font-size: 18px;
}
.content {
	display: flex;
	align-items: end;
	justify-content: space-between;
	inline-size: 1140px;
}
.result {
	display: flex;
	justify-content: space-between;
	inline-size: 711px;
	flex-wrap: wrap;
}
.result__video-container {
	position: relative;
	background-repeat: no-repeat;
	inline-size: 100%;
	block-size: 386px;
	margin-bottom: 18px;
}
.result__video {
	inline-size: 100%;
	block-size: 100%;
	object-fit: fill;
}
.search-form {
	display: flex;
	justify-content: space-between;
	inline-size: 100%;
}
.search-form__fieldset {
	inline-size: 225px;
	border: 0;
}
.search-form__fieldset:nth-child(2) {
	inline-size: 212px;
}
.search-form__fieldset-title {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	margin-bottom: 5px;
}
.search-form__label {
	position: relative;
	bottom: 2px;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 1px;
}
.search-form__label:has(:focus-visible) {
	border: 1px solid #fff;
}
.search-form__label-text {
	margin-inline-start: 5px;
}
.search-form__label-text:hover {
	text-decoration: underline;
}
.search-form__submit-button {
	margin-block: 2px;
	align-self: end;
	inline-size: 194px;
}
.search-form__checkbox-list {
	display: flex;
	justify-content: space-between;
}
.search-form__pseudo-checkbox {
	border: 1px solid #fff;
	inline-size: 19px;
	block-size: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-form__fieldset__button {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: end;
	border: 0;
}
.search-form__label__button {
	display: flex;
	align-items: center;
	padding: 1px;
}
.search-form__label__button:has(:focus-visible) {
	border: 1px solid #fff;
}
.search-form__submit-button:active {
	background-color: #545050;
}
.search-form__submit-button:hover {
	text-decoration: underline;
}
input[type='text'] {
	appearance: none;
	border: 0;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	inline-size: 225px;
	block-size: 27px;
	background-color: transparent;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	color: #fff;
}
input[type='text']:active {
	border: 1px solid #fff;
}
.search-form__label:has(input[type='text']):active {
	border: 0;
}
input::placeholder {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.7);
}
input:focus {
	outline: none;
}
input:checked + span::after {
	display: block;
	content: '';
	inline-size: 15px;
	block-size: 15px;
	background-color: #fff;
}
button:focus {
	outline: none;
}
.content__details {
	inline-size: 399px;
}
.title {
	margin-bottom: 26px;
	font-family: var(--second-family);
	font-size: 75px;
	line-height: 94%;
	text-transform: uppercase;
}
.content__accent {
	color: #545050;
}
.content__list {
	position: relative;
	overflow-y: scroll;
	block-size: 298px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.content__list-item {
	display: flex;
	inline-size: 398px;
}
.content__list-item:hover {
	text-decoration: underline;
}
.content__list-item:has(:focus-visible) {
	border: 1px solid #fff;
}
.content__card-link {
	block-size: 100%;
	inline-size: 100%;
	padding: 2px;
	outline: none;
	font-family: var(--second-family);
	color: white;
	text-decoration: none;
}
.content__card-link:active,
.content__card-link_current {
	background-color: #545050;
}
.content__video-card {
	inline-size: 100%;
	block-size: 100%;
	display: flex;
	justify-content: space-between;
}
.content__video-card-description-container {
	flex-grow: 1;
}
.content__video-card-description {
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 90%;
}
.content__video-card-title {
	display: block;
	max-width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-family: var(--second-family);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 30px;
}
.content__video-card-thumbnail {
	inline-size: 194px;
	block-size: 103px;
}
.more-button {
	inline-size: 100%;
}
